{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    
    <!-- Skills Section -->
    <div class="skills">
      <h3>My Skills</h3>
      <ul>
        <li style="color: #4CAF50;"><strong>Programming Languages & Frameworks:</strong> Python, JavaScript, Java, SQL/NoSQL, HTML, CSS, PyTorch, TensorFlow, Scikit-learn, Hugging Face, Pandas</li>
        <li style="color: #2196F3;"><strong>Cloud & Containerization:</strong> AWS, SageMaker, Oracle Cloud, Docker, Kubernetes</li>
        <li style="color: #FF9800;"><strong>Machine Learning Areas:</strong> Supervised and Unsupervised Learning, Deep Learning, Natural Language Processing (NLP), Large Language Models (LLM), Recommendation Systems, Computer Vision, Anomaly Detection</li>
      </ul>
    </div>
    <!-- End of Skills Section -->
     
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}