<script>
  document.addEventListener('DOMContentLoaded', async () => {
  const userid = 'visitor';  
  const level = 'info';      

  const logSheetUrl = 'https://log-api.newrelic.com/log/v1?Api-Key=5229e7f7b5ce83cbdaec27036f5e52f5FFFFNRAL';



// Function to get IP-based location info
async function getVisitorLocation() {
  try {
    const response = await fetch('https://ipinfo.io/json');
    if (!response.ok) {
      throw new Error('Failed to fetch IP geolocation data');
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error('Error fetching IP geolocation:', error);
    return null;
  }
}


// Log entry with geolocation
async function logPortfolioVisit(userid, level) {
  const locationInfo = await getVisitorLocation();
  const logEntry = {
    "common": {
      "attributes": {
        "logtype": "portfolio-logs",
        "service": "portfolio-service",
        "hostname": window.location.hostname
      }
    },
    "logs": [{
      "timestamp": new Date().toISOString(),
      "message": `User '${userid}' visited the portfolio`,
      "attributes": {
        "level": level,
        "userid": userid,
        "page": window.location.href,
        "location": locationInfo // Include location info here
      }
    }]
  };


   // Send log entry to New Relic or other logging service
   try {
    const response = await fetch(logSheetUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(logEntry)
    });
    if (!response.ok) {
      throw new Error('Failed to log portfolio visit');
    }
    console.log('Portfolio visit logged successfully');
  } catch (error) {
    console.error('Error logging portfolio visit:', error);
  }
}


  </script>


{% if site.comments.provider and page.comments %}

{% case site.comments.provider %}
{% when "disqus" %}
  {% include /comments-providers/disqus.html %}
{% when "discourse" %}
  {% include /comments-providers/discourse.html %}
{% when "facebook" %}
  {% include /comments-providers/facebook.html %}
{% when "google-plus" %}
  {% include /comments-providers/google-plus.html %}
{% when "staticman" %}
  {% include /comments-providers/staticman.html %}
{% when "custom" %}
  {% include /comments-providers/custom.html %}
{% endcase %}

{% endif %}